<div class="tabs1">
  <a class="tab1 active" href="#">
    <h3>My drones</h3>
  </a>
  <a class="tab1" href="#">
    <h3>My rentals</h3>
  </a>
  <a class="tab1" href="#">
    <h3>My account</h3>
  </a>
</div>


