.card1 {
  background-color: white;
  margin: 10px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 700px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}



.card2 {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 700px;
  height: 150px;
}

.card3 {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 700px;
  height: 300px;
}

.card4 {
  background-color: white;
  margin: 10px;
  padding-left: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: 350px;
}
.drone-card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 350px;
  height: 270px;
}

.card-picture {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;

}

.circle-back {
  background-color: rgba(0,0,0,0.4);
  width: 45px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  bottom: 23px;
  left: 290px
}

.card-category {
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 10px;
}

.card-info {
  padding-bottom: 20px;
  color: grey;
}
.card-price {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 21px;
  font-weight: bold;
  background: rgba(0,0,0,0.4);
}

.card-descript{
  margin: 3px;
  position: relative;
  bottom: 30px;
}

.card-descript h2 {
  margin: 0px;
  font-size: 23px;
  text-decoration:none;
  color: black;
  font-weight: bold;
}
.card-descript p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  text-decoration: none;
  color: grey;
}

.drone-card a:hover {
  text-decoration: none;
}

.drone-card:hover {
  .card-picture{
   opacity: 0.7;
   transition: 0.5s;
 }
}

.drone {
  display: flex;
  margin: 10px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 1s ease;
}

.drone-image {
  border-radius: 3px;
  margin-right: 20px;
  width: 175px;
}

.drone-body {
  flex: 1 1 auto;
}

.drone-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.drone p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  text-decoration: none;
  color: grey;
}

.drone:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.avatar-category {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}


.user-name {
  margin: 2px 0 0;
  font-size: 12px;
}
